/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/project_four.iml
/.idea/vcs.xml
.vs/project_four/v17/.suo
.vs/project_four/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
llu/.idea/compiler.xml
llu/.idea/gradle.xml
llu/.idea/misc.xml
llu/.idea/vcs.xml
/Xamarin.LLU/.vs/LLU/v17
/Xamarin.LLU/packages
/Xamarin.LLU/LLU.iOS/bin
/Xamarin.LLU/LLU.iOS/obj
/Xamarin.LLU/LLU.Android/bin
/Xamarin.LLU/LLU.Android/obj
/Xamarin.LLU/.idea/
Xamarin.LLU/.vs/
Xamarin.LLU/.idea/.idea.LLU/.idea/workspace.xml
Xamarin.LLU/.idea/.idea.LLU/.idea/workspace.xml
Xamarin.LLU/.vs/LLU/DesignTimeBuild/.dtbcache.v2
Xamarin.LLU/.vs/LLU/project-colors.json
Xamarin.LLU/.vs/ProjectSettings.json
Xamarin.LLU/.vs/slnx.sqlite
Xamarin.LLU/.vs/VSWorkspaceState.json
Xamarin.LLU/.vs/Xamarin.LLU/v17/.suo
Xamarin.LLU/.vs/Xamarin.LLU/v17/workspaceFileList.bin
Xamarin.LLU/.idea/.idea.LLU/.idea/workspace.xml
Xamarin.LLU/.vs/LLU/DesignTimeBuild/.dtbcache.v2
Xamarin.LLU/.vs/LLU/project-colors.json
Xamarin.LLU/.idea/.idea.LLU/.idea/workspace.xml
Xamarin.LLU/.vs/LLU/DesignTimeBuild/.dtbcache.v2
*.v2
